@media only screen and (max-width: 500px) {
    .news-slider-layer {
        width: 96% !important;
    }
}

body {
    overflow-x: hidden;
}

.news-slider-layer.fourth, .news-slider-layer.third {
    width: 30%;
    float: inherit;
    max-height: 215.5px;
}

.news-slider-layer.first {
    min-height: 442px;
}

.news-slider-layer.second {
    min-height: 442px;
}

.news-slider-layer.second a img {
    width: auto;
    height: 100%;
    max-height: 442px;
}

.news.star-news .item {
    min-height: 252px;
}

.full-block-three-columns:nth-of-type(3n+1) {
    width: 65%;
    margin-right: 0;
}

.full-block-three-columns:nth-of-type(3n+2) {
    width: 33%;
}

.full-width {
    width: 100% !important;
}

.module-title {
    margin: 0 16px 1.625em 0;
}

.feature.entry-post .item {
    min-height: 85px !important;
}

.tags {
    direction: rtl;
}

.album-icon::before {
    content: "\f03e";
    font-size: 20px;
}

.notfound-title {
    text-align: center;
}

.notfound-caption {
    position: absolute;
    padding: 9px;
    color: #333;
    bottom: 16px;
    right: 44%;
    left: 56%;
    width: fit-content;
}

.navbar-toggle.active {
    z-index: 9999999;
}

.entry-font-sizes {
    background-color: #2d2c34;
    width: 100%;
    padding: 16px 50px;
    text-align: center;
    margin-top: 10px;
}

.entry-font-sizes a, .entry-font-sizes span {
    color: white;
    padding: 5px;
    font-weight: bold;
}

.entry-font-sizes a.active {
    color: red;
}

.font-small {
    font-size: 12px;
}

.font-medium {
    font-size: 1.45rem;
}

.font-big {
    font-size: 2.5rem;
    line-height: 28px !important;
}

.entry-main {
    transition: font-size .7s;
}

.header-logo h4 {
    color: #376993;
    font-weight: 400;
    margin: 0;
    font-size: 15px;
}

.header-logo h2 {
    color: #376993;
    font-weight: 400;
    display: inline;
    line-height: 1.1;
    color: #717171 !important;
    font-size: 22px;
}

.header-logo h2 span {
    color: #515252;
    font-weight: 700;
    margin: 0;
    font-size: 50px;
}

@media only screen and (max-width: 767px) {
    .row.no-gutter .news-slide .news-slider-layer {
        padding-bottom: 12px;
        padding-left: 0px;
        border: 1px;
    }

    .news-slider-layer.first {
        min-height: unset;
        width: 49%;
        float: right;
    }

    .full-block-three-columns:nth-of-type(3n+2) {
        width: auto;
    }

    .full-block-three-columns:nth-of-type(3n+1) {
        width: auto;
        margin-right: 0;
    }

    .news-slider-layer.fourth, .news-slider-layer.third {
        max-height: unset;
        width: 49%;
        float: right;
        margin: 5px;
        margin-right: 0;
    }

    .news-slider-layer.first, .news-slider-layer.second {
        margin: 5px;
        margin-right: 0;
    }

    .news-slider-layer.first {
        margin-left: 5px;
    }

    .news-slider-layer {
        margin-right: 17px !important;
    }

    .news-slider-layer.first {
        min-height: unset;
    }

    .news-slider-layer.second {
        min-height: unset;
        width: 49%;
        height: auto;
    }

    .news-slider-layer.second a img {
        height: unset;
        width: inherit;
        max-width: 100%;
    }

}

.navbar-default .navbar-toggle {
    z-index: 15;
    margin-left: 13px;
}

.sidenav-brand {
    background: unset;
    color: #FAFAFA;
    font-weight: 400;
    padding: 4px 24px 4px 20px;
}

.sidenav-header-logo img {
    transition: all;
    transition-duration: .5s;
}

.article .item-block {
    padding: 0 5px;
    margin-top: 10px;
}

.social-links li a i:hover {
    color: #000;
}

.article .module-title {
    margin: 0px 5px 1.625em 0px;
}

.menu-social-icons li a:hover, .sidebar-social-icons li a:hover {
    color: black !important;
}

@media only screen and (max-width: 960px) {
    .headroom-unpinned .sidenav-header-logo img {
        float: right;
        margin-top: 82px !important;
        width: 81px;
    }

}

@media only screen and (max-width: 960px) {
    .header-add-place .logo img {
        display: none;
    }
}

.edit-boss {
    display: inline;
    position: absolute;
    top: 19px;
    font-weight: 400;
    line-height: 1.1;
    color: #717171 !important;
    font-size: 22px;

}

.edit-boss a {
    display: block;
    color: #376993;
    font-weight: 400;
    margin: 0;
    font-size: 15px;
}

.load-more-cat {
    background: #e60000;
}

.load-more-cat:hover {
    color: white !important;
}

.entry-content {
    margin-top: 20px;
    font-size: 18px;
}

.related-news {
    background: #1a71b4;
}

.font-forcs * {
    font-size: 18px !important;
}

.survay-wrapper {
    border: 1px solid gray;
}

.survy-title {
    background: #e60000;

}

.answer p {
    font-size: 20px;
    font-weight: 700;

}

.answer label {
    font-size: 20px;
}

.btns {
    float: left;
}

input[type=radio] {
    display: none;
}


/* The container */
label.answer {
    display: block;
    position: relative;
    padding-right: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    color: #777;
    -webkit-user-select: none;
    -moz-user-select: none;
    line-height: 20px;
    -ms-user-select: none;
    height: 35px;
    margin-top: 12px;
    user-select: none;
}

/* Hide the browser's default radio button */
label.answer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
label.answer:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
label.answer input:checked ~ .checkmark {
    background-color: #1a71b4;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
label.answer input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
label.answer .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.results hr{
    margin: 0 5px;
}

.matches-wrapper .title{
    margin: 10px 0 10px 0;
}

.matches-wrapper .title{
    margin: 10px 0 10px 0;
}
.matches-wrapper .match{
    margin: 10px 0 10px 0;
}
.match-row span{
    font-size: 20px;
}
